<form class="search-form" hx-boost="false" onsubmit="return false;" style="position:relative;">
  <input id="var-search-input" class="form-control" type="search" name="search" placeholder="Search variables…"
    autocomplete="off" aria-haspopup="listbox" aria-expanded="false" hx-post="{% url 'var_active_search' %}"
    hx-trigger="input changed delay:300ms, keyup[key=='Enter']" hx-target="#var-search-results"
    hx-indicator=".htmx-indicator">
  <div class="htmx-indicator" style="position:absolute; right:.5rem; top:.45rem;">⏳</div>
  <div id="var-search-results"></div>
</form>
