{% extends "base.html" %}
{% load static %}

{% block extrahead %}
<script src="{% static 'js/toggle.js' %}" defer></script>
{% endblock %}

{% block body %}

{% include 'banner.html' %}

<h1> {{ title }} <a href="{% url 'sub_view' 'elm_drv' %}" class="return-link">Subroutine View</a></h1>

<form hx-post="{% url 'subcall' %}" hx-target="#active-view" hx-swap="innerHTML">
    <label for="Variable">Enter Global Variable (inst%member):</label>
    <input type="text" id="Variable" name="Variable" required>
    <button type="submit">Submit</button>
</form>
<br />
<button id="toggle-all-button">Toggle All</button>
<br />

<!-- Button to load the subroutine_calltree content -->
<div id="subroutine-container" hx-get="{% url 'subcall' %}" hx-trigger="load" hx-target="this" hx-swap="innerHTML">
    Loading...
</div>

<!-- Modal Structure -->
<!-- <div id="modalOverlay" class="modal-overlay" style="display:none;"> -->
<!--     <div id="modalContent" class="modal-content" hx-on="click: event.stopPropagation()"> -->
<!--         <!-- HTMX will load subroutine details here --> -->
<!--     </div> -->
<!-- </div> -->

{% endblock %}
