{% extends "base.html" %}

{% load static %}

{% block extrahead %}
<script src="{% static 'js/toggle.js' %}" defer></script>
{% endblock %}

{% block body %}
{% include 'banner.html' %}

<br />
<button id="toggle-all-button">Expand All</button>
<br />

<div id="sub-split-view" class="split-container">
  <div class="left-panel" id="left-panel" hx-get="{% url 'calltree' sub_name=sub_name %}" hx-trigger="load"
    hx-swap="innerHTML">
  </div>
  <div class="right-panel" id="right-panel" hx-get="{% url 'subroutine_details' sub_name=sub_name %}" hx-trigger="load"
    hx-target="#right-panel" hx-swap="innerHTML">
    {% include "partials/subroutine_details.html" with sub_name=sub_name %}
  </div>
</div>


{% endblock %}
