{% if dtype_var_groups %}
<h3>Active Derived Types</h3>
<ul class="header-list" id="dtype-root">
  {% for grp in dtype_var_groups %}
  <li class="header-group" data-toggle>
    <span class="toggler checkbox"
          role="button" tabindex="0"
          aria-expanded="false"
          aria-controls="child-{{ grp.type_name|slugify }}-{{ grp.instance|slugify }}">
      {{ grp.type_name }} {{ grp.instance }}
        <!-- <pre><code class="hljs language-fortran">{{ grp.type_name }} {{ grp.instance }}</code></pre> -->
    </span>

    <ul id="child-{{ grp.type_name|slugify }}-{{ grp.instance|slugify }}" class="child">
      {% for item in grp.members %}
      <li class="var-row">
      <pre><code class="hljs language-fortran">{{ item.type }} {{ item.name }}</code></pre>
        <span class="badge badge-{{ item.status }}">{{ item.status }}</span>
        <button class="trace-btn" type="button"
                hx-get="{% url 'trace' grp.instance|add:'%'|add:item.name %}"
                hx-target="#left-panel" hx-trigger="click" hx-swap="innerHTML">
          <!-- icon -->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" fill="currentColor">
            <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2" fill="none" />
            <circle cx="12" cy="12" r="3" fill="currentColor" />
          </svg>
        </button>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% endfor %}
</ul>
{% endif %}
