{% load mapping logic %}
<li class="node" data-toggle>
  {% if node.children %}
  {% with is_open=current_depth|lt:expand_to %}
  <div class="row">
    <span
      class="toggler checkbox"
      role="button"
      tabindex="0"
      aria-expanded="{{ is_open|yesno:'true,false' }}"
      aria-controls="child-{{ node.id|slugify }}-{{ node.uid|slugify }}">
      {{ node.name }}
    </span>

    {% if statuses %}
      {% with status=statuses|get_item:node.name %}
      <span class="badge badge-{{ status|default:"dash" }}">{{ status|default:"-" }}</span>
      {% endwith %}
    {% endif %}

    <button
      type="button"
      class="details-btn"
      aria-label="View Details"
      hx-get="/subroutine-details/{{ node.name|urlencode }}/"
      hx-target="#right-panel"
      hx-trigger="click"
      hx-swap="innerHTML">
    </button>
  </div>

  <ul
    id="child-{{ node.id|slugify }}-{{ node.uid|slugify }}"
    class="child {% if is_open %}active{% endif %}">
    {% for ch in node.children %}
      {% include "partials/trace_details/trace_node.html" with node=ch current_depth=current_depth|add:"1" expand_to=expand_to statuses=statuses %}
    {% endfor %}
  </ul>
  {% endwith %}

  {% else %}
  <div class="row">
    <span class="parent {% if not node.is_hit %}ghost{% endif %}">
      {{ node.name }}
    </span>

    {% if statuses %}
      {% with status=statuses|get_item:node.name %}
      <span class="badge badge-{{ status|default:"dash" }}">{{ status|default:"-" }}</span>
      {% endwith %}
    {% endif %}

    <button
      type="button"
      class="details-btn"
      aria-label="View Details"
      hx-get="/subroutine-details/{{ node.name|urlencode }}/"
      hx-target="#right-panel"
      hx-trigger="click"
      hx-swap="innerHTML">
    </button>
  </div>
  {% endif %}
</li>
